body {
    font-family: "Poppins", sans-serif;
    background-color: #1f1d2b;
    color: #eeeff7;
    margin: 0;
    padding: 0;
}

.back-button-container {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
}

/* Tombol back */
.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Stream Container */
.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* Stream Logo */
.stream-logo img {
    width: 120px;
    height: 120px;
}

/* Stream Buttons */
.stream-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.stream-button {
    width: 50px;
    height: 50px;
    background-color: #252836;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
    font-size: 18px;
}

.stream-button:hover {
    background-color: #1da1f2;
}

.gray-icon {
    color: #6c757d;
    /* Warna abu-abu untuk ikon headphone */
}

.play-button {
    background-color: #1da1f2;
    color: #ffffff;
}

.play-button:hover {
    background-color: #0c85d0;
}

/* Chat Messages Styling */
.message {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.message img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.message-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message-content strong {
    color: #EEEFF7;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.message-content p {
    color: #EEEFF7;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Live Chat Styling */
.live-chat {
    position: relative;
    /* Ubah posisi ke relative */
    margin-top: 8px;
    /* Tambahkan jarak dari banner */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #eeeff7;
    /* max-height: calc(100vh - 300px); Pastikan tidak menutupi seluruh layar */
    overflow-y: auto;
    /* Agar pesan bisa di-scroll */
    height: 420px;
}

/* Styling untuk chat messages */
.chat-messages {
    max-height: 200px;
    /* Atur tinggi untuk pesan */
    margin-bottom: 60px;
    /* Jarak dengan input chat */
}

/* Input chat tetap di bagian bawah */
.chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 412px;
    padding: 14px 16px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: #252836;
}

.chat-input input {
    display: flex;
    width: 412px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 52px;
    border: none;
    background-color: #1f1d2b;
    color: #eeeff7;
    width: 332px;
    height: 50px;
}

.chat-input button {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    background: #1DA1F2;
    color: #EEEFF7;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-top: 6px;
}

.chat-input button:hover {
    background-color: #0c85d0;
}

.schedule-container {
    padding: 16px;
    margin: 16px auto;
    max-width: 400px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
}

.schedule-title {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.schedule-list {
    margin-top: 16px;
    display: none;
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #1f1d2b;
    border-radius: 8px;
    margin-bottom: 12px
}

.schedule-info {
    display: flex;
    flex-direction: column;
}
.program-title-active {
    color: #E5E5E5;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 175% */
text-transform: capitalize;
}

.program-title {
    color: #707070;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 175% */
text-transform: capitalize;
}

.time {
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
}

.status {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 4px 8px;
}

.status.live {
    color: #1DA1F2;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 175% */
text-transform: capitalize;
}

.status.upcoming {
    color: #707070;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 175% */
text-transform: capitalize;
}


/* Banner Styling */
.banner {
    display: flex;
    width: 412px;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    background: #252836;
}

.banner-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.banner-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    
}

.banner-info {
    flex: 1;
}

.banner-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.banner-status {
    color: #777676;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
    letter-spacing: -0.25px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin: 0;
}

.live-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
}

.banner-button {
    background: #FF3939; /* Warna latar tombol */
    color: #EEEFF7; /* Warna teks */
    text-align: center; /* Teks berada di tengah */
    font-family: Poppins, sans-serif; /* Font keluarga */
    font-size: 12px; /* Ukuran font */
    font-weight: 700; /* Ketebalan teks */
    line-height: 32px; /* Pastikan teks berada di tengah */
    letter-spacing: -0.25px; /* Spasi huruf */
    border: none; /* Hilangkan border */
    border-radius: 8px; /* Sudut tombol */
    width: 68px; /* Lebar tombol */
    height: 32px; /* Tinggi tombol */
    cursor: pointer; /* Ubah kursor menjadi pointer */
    display: inline-flex; /* Flex untuk pengaturan elemen */
    justify-content: center; /* Rata tengah secara horizontal */
    align-items: center; /* Rata tengah secara vertikal */
    transition: background-color 0.3s ease; /* Animasi transisi warna */
}

.banner-button:hover {
    background-color: #e33e3e; /* Warna saat hover */
}


.banner-button:hover {
    background-color: #e33e3e;
}

.record-timer {
    display: none;
    /* Timer tidak ditampilkan pada awal */
    background-color: #000;
    /* Warna latar */
    color: #fff;
    /* Warna teks */
    border-radius: 15px;
    /* Sudut membulat */
    padding: 5px 10px;
    /* Padding */
    font-size: 14px;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan teks */
    margin: 10px auto;
    /* Margin tengah */
    display: inline-flex;
    /* Flexbox untuk rata tengah */
    align-items: center;
    /* Vertikal rata tengah */
    justify-content: center;
    /* Horizontal rata tengah */
    gap: 5px;
    /* Jarak antar elemen */
}

.record-timer .dot {
    width: 10px;
    /* Ukuran bulatan */
    height: 10px;
    /* Sama dengan lebar */
    background-color: red;
    /* Warna merah */
    border-radius: 50%;
    /* Bulatan penuh */
}